<div class="mypage">
  <p><strong>이름: <%= current_user.name %></strong></p>
  <p><strong>이메일: <%= current_user.email %></strong></p>
  <p><strong>내가 올린 상품: 
    <% @items.each do |f|%>
      <%= link_to f.itemname, f %>
    <% end %>
  </strong></p>
  <p><strong>내가 단 댓글: <%= current_user.name %></strong></p>
  <p>
    <% @reviews.each do |r|%>
      상품 : <%= r.item.display_name%><br>
      리뷰 내용 : <%= r.body %><br><br>
    <% end %>
  </p>
  
</div>