<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :image %><br>
    <%= form.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
  </div>

  <div class="field">
    <%= form.label :display_name %><br>
    <%= form.text_field :display_name, required: true %>
  </div>

  <div class="field">
    <%= form.label :item_explain %><br>
    <%= form.text_area :item_explain %>
  </div>

  <div class="field">
    <%= form.label :price %><br>
    <%= form.number_field :price %>
  </div>
  
  <div class="field">
    <%= form.label :itemname %><br>
    <%= form.text_field :itemname, required: true %>
  </div>

  <div class="field">
    <%= form.label :quantity %><br>
    <%= form.number_field :quantity %><br>
  </div>

  <div class="actions">
    <%= form.submit%>
  </div>
<% end %>
