<div class="item-show">
  <div class="show-image">
    <p>
      <strong>사진:</strong>
      <%= image_tag(@item.image_url, style:"width:200px;") %>
    </p>
  </div>
  <div class="show-content">
    <p>
      <strong>상품 이름:</strong>
      <%= @item.itemname %>
    </p>

    <p>
      <strong>상품 설명:</strong>
      <%= @item.item_explain %>
    </p>

    <p>
      <strong>가격:</strong>
      <%= number_to_currency(@item.price, unit: '₩') %>
    </p>

    <p>
      <strong>수량:</strong>
      <%= @item.quantity %>
    </p>

    <p>
      <strong>리뷰 개수:</strong>
      <%= @item.reviews_count %>
    </p>

    <p>
      <strong>리뷰 평균평점:</strong>
      <%= @item.rating_avg %>
    </p>

    <p>
      <strong>찜한 수:</strong>
      <%= @item.wishes.size %><br>
      <% if current_user.is_wish?(@item) %>
        <%= link_to "찜하기 취소", item_wish_path(@item), method: "post" %>
      <% else %>
        <%= link_to "찜하기", item_wish_path(@item), method: "post" %>
      <% end%>
    </p>


    <div class="review_content">
      <h4>상품 주문</h4>
      <div class="write-review">
        <%= form_for(@cart, url: item_cart_path(@item)) do |f| %>
          <%= f.hidden_field :cart_item_name, value: @item.itemname %>

          <%= f.label '수량' %><br>
          <%= f.number_field :cart_item_quantity, min: 1 %>
          <br>

          <%= f.submit('장바구니 담기', class: 'btn btn-outline-primary') %><br>
        <% end %>
      </div>
    </div>

    <%= link_to 'Edit', edit_item_path(@item) %> |
    <%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Back', items_path %>
  </div>
</div>

<div class="review_content">
  <h4>리뷰 작성</h4>
  <%= link_to '리뷰 작성', new_item_review_path(@item) %>
  </div>

  <div class="show-review">
    <h4>리뷰</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="table1">닉네임</th>
            <th scope="col" class="table2">리뷰내용</th>
            <th scope="col" class="table3">평점</th>
            <th scope="col" class="table3">삭제</th>
          </tr>
        </thead>
        <% @reviews.each do |review| %>
        <tbody>
          <tr>
            <td><%= review.user.email %></td>
            <td><%= review.body %></td>
            <td>
            <div class="stars">
              <% for i in 1..review.rating %>
                <span class="fa fa-star checked"></span>
              <% end %>
              <% for i in (review.rating+1)..5 %>
                <span class="fa fa-star"></span>
              <% end %>
            </div>
            </td>
            <td><%= link_to('삭제', item_review_path(@item, review), method: :delete) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
  </div>
