<div class="item-show">
  <p>
    <strong>사진:</strong>
    <%= image_tag(@item.image_url, style:"width:200px;") %>
  </p>

  <p>
    <strong>상품 이름:</strong>
    <%= @item.itemname %>
  </p>

  <p>
    <strong>상품 설명:</strong>
    <%= @item.item_explain %>
  </p>

  <p>
    <strong>가격:</strong>
    <%= number_to_currency(@item.price, unit: '₩') %>
  </p>

  <p>
    <strong>수량:</strong>
    <%= @item.quantity %>
  </p>

  <%= link_to 'Edit', edit_item_path(@item) %> |
  <%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', items_path %>
</div>
<div class="review_content">
  <h2>Reviews</h2>

  <%= form_for(@new_review, url: item_reviews_path(@item)) do |f| %>
    <%= f.text_field :body, required: true %>
    <%= f.submit('댓글작성', class: 'btn btn-outline-primary') %>
  <% end %>

  <% @reviews.each do |review| %>
    <h5><%= review.body %></h5>
    <%= link_to('삭제', item_review_path(@item, review), method: :delete) %>
  <% end %>
</div>
