<div class="item-show">
  <p>
    <strong>사진:</strong>
    <%= image_tag(@item.image_url, style:"width:200px;") %>
  </p>

  <p>
    <strong>상품 이름:</strong>
    <%= @item.itemname %>
  </p>

  <p>
    <strong>상품 설명:</strong>
    <%= @item.item_explain %>
  </p>

  <p>
    <strong>가격:</strong>
    <%= number_to_currency(@item.price, unit: '₩') %>
  </p>

  <p>
    <strong>수량:</strong>
    <%= @item.quantity %>
  </p>

  <%= link_to 'Edit', edit_item_path(@item) %> |
  <%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', items_path %>
</div>

<div class="review_content">
  <h4>리뷰 작성</h4>
  <div class="write-review">
    <%= form_for(@new_review, url: item_reviews_path(@item)) do |f| %>
      <%= f.label :댓글 %>
      <%= f.text_field :body, required: true %><br>

      <%= f.label :평점 %>
      <%= f.number_field :rating %><br>

      <%= f.submit('댓글작성', class: 'btn btn-outline-primary') %><br>
    <% end %>
  </div>

  <div class="show-review">
    <h4>리뷰</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="table1">닉네임</th>
            <th scope="col" class="table2">리뷰내용</th>
            <th scope="col" class="table3">평점</th>
            <th scope="col" class="table3">평점</th>
          </tr>
        </thead>
        <% @reviews.each do |review| %>
        <tbody>
          <tr>
            <td><%=  %></td>
            <td><%= review.body %></td>
            <td><%= review.rating %></td>
            <td><%= link_to('삭제', item_review_path(@item, review), method: :delete) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
  </div>
</div>
